.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(77, 193, 247);
    color: black;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 18px;
}

.container {
    position: absolute;
    width: 1020px;
    margin: 0 auto;
}

.container img {vertical-align:super;}

.container .content {
    position: absolute;
    top: 460px;
    background: rgba(0, 0, 0, 0.5);
    color: #eeebeb;
    width: 65%;
    padding: 40px;
}
p.main
 {
    text-align:justify;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(77, 193, 247);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8fa99;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(8, 8, 8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(77, 193, 247);
}

.dropdown:hover .dropdown-content {
    display: block;
}